# lightning.pytorch==2.1.0
seed_everything: true
trainer:
  callbacks:
    # Checkpoint for saving the BEST model
    - class_path: lightning.pytorch.callbacks.ModelCheckpoint
      init_args:
        filename: "{epoch}-{val_loss:.2f}.best"
        monitor: "val_loss"
        mode: "min"
        save_top_k: 1
        verbose: true
        save_on_train_epoch_end: false
    # Checkpoint for saving the LAST model based on maximizing the step count
    - class_path: lightning.pytorch.callbacks.ModelCheckpoint
      init_args:
        filename: "{epoch}.last"
        monitor: "step"
        mode: "max"
        save_top_k: 1
        verbose: true
        save_on_train_epoch_end: false
  logger:
    class_path: lightning.pytorch.loggers.TensorBoardLogger
    init_args:
      save_dir: E:\AIOutput
      name: ViewRecognition
      default_hp_metric: false
  max_epochs: &me 100
  num_sanity_val_steps: 1
  check_val_every_n_epoch: 1
  log_every_n_steps: 1
model:
  class_path: ObjectDetection.modelmodule.ModelModuleOD
  init_args:
#   num_classes: 4 # Set automatically to len(data.classes)
    detection_threshold: 0.5
    visualize_training_images: false
    save_predicted_images: true
    torch_model_factory:
      function_path: ObjectDetection.modelfactory.getModelfasterrcnn_resnet50_fpn
      init_args:
        pretrained: true
optimizer: 
  class_path: torch.optim.Adam
  init_args:
    lr: 0.001
    weight_decay: 0.00001
lr_scheduler:
  class_path: torch.optim.lr_scheduler.OneCycleLR # Set total_steps for RESUME training
  init_args:
    max_lr: 0.001
    pct_start: 0.1
    total_steps: *me
data:
  class_path: ObjectDetection.datamodule.DataModuleOD
  init_args:
    data_dir: E:\AIData\Bbox_Dataset
    batch_size: 2
    num_workers: 4
    resize: 600
    classes:
      background: __background__
      Main: 1
      Title: 2
      BOM: 3
    dataset:
      class_path: ViewRecognition.dataset.DatasetVR
      init_args:
#fit:
#    ckpt_path: null # Used for RESUME training
test:
    ckpt_path: best # Checkpoint to use: best/last 
